html, body {
    height: 99%;
    width: 99%;
    font-family: roboto;
    background-image: linear-gradient(to top, #FBE9E1 0%, #FAE7DE  100%);
}
img{
    height: 50px;
    width: 50px;
    margin-left: 200px;
    margin-top: 20px;
}
nav{
    font-family: mooli;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 200px;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #D5C5BD;
}
#left{
    margin-left: 200px;
    font-family: mooli;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 50px;
    background-color: #D5C5BD;
}
#right {
    font-family: mooli;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 100px;
    background-color: #D5C5BD;
}
h2{
    margin-top: 30px;
}
#img1{
    margin-top: -40px;
    margin-left: 80px;
    height:600px;
    width: max-content;
}
#web{
    display: flex;
    text-align: center;
    margin-left: 80px;
    margin-top: 100px;
}
#l{
    margin-top: 50px;
    margin-left: 100px;
}
#head1 , #head2{
    text-align: left;
    width: 600px;
    line-height: 0.5;
    font-family: mooli;
    font-size: 60px;
}
h3{
    line-height: 0.5;
    font-family: roboto;
    letter-spacing: 1px;
    color: #525252;
    font-size: 20px;
    text-align:left;
}
a{
    text-decoration: none;
    color: black;
}
#db{
    color: black;
    font-size: 50px;
    font-family: mooli;
    text-align: center;
}

#res{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 80px;
    margin-left: 100px;
}
.post{
    background-color: #D5C5BD;
    border: none;
    border-radius: 12px;
    height: 400px;
    width: 400px;
}
#kim{
    font-size: 45px;
    font-family: "Carter One" , sans-serif;
    letter-spacing: 2px;
}
.kimchi , .task img {
    height: 250px;
    width: 350px;
}
p{
    font-family: raleway;
    margin-left: 30px;
    text-align: left;
    display: list-item;
    font-size: 15px;
    list-style: none;    
    line-height: 0px;
    line-height: 5px;
}
.btn{
    margin-left: 130px;
    height: 45px;
    width: 130px;
    border-radius: 18px;
    border: none;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #FF4A47;
    margin-top: 3px;
    cursor: pointer;
}
#ki{
    margin-top: 5px;
    text-align: center;
}
img{
    margin-left: 24px;
    margin-top: 20px;
    
}
#fea{
    color: #525252;
    margin-left: 200px;
    font-size: 35px;
}
#tabs{
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(3, 150px); /* Two items per column */
    grid-gap: 10px;
    text-align: left;
    width: 200px;
    height: fit-content;

}
button{
    cursor: pointer;
    height: 45px;
    width: 130px;
    border-radius: 18px;
    border: none;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #CFBDB4;
    background-image: linear-gradient(to top, #D7C8C1 0%, #B6AAA5  100%);
}
}